<div class="container w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">

            <h1 class="text-monospace text-center">Sejam bem vindes ao meu blog!</h1>
        </div>
    </div>
    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas debitis rem qui sapiente corrupti! A,
                saepe quo, qui aut nulla quam vitae sunt et tempore minus, fugiat voluptas iste. Quibusdam. Lorem ipsum
                dolor sit amet consectetur adipisicing elit. Atque libero debitis recusandae maiores consequuntur.
                Doloremque porro reprehenderit optio earum dolorum dignissimos. Aspernatur nulla ipsam enim ut tempore
                aperiam, culpa perferendis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero eius aliquid,
                facere deleniti dolorum sapiente voluptatibus vel quo ratione totam, quisquam labore! Officia officiis
                dolorem vitae non facere nemo doloribus!
            </p>
        </div>
    </div>
</div>
<div class="parallax"></div>

<div class="row w-100 mt-5 mb-5">
    <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink="/feed">ver o feed</button>
    </div>
</div>