.parallax{
    background-image: url("https://dkrn4sk0rn31v.cloudfront.net/2018/01/17135411/html.png");

    min-height:500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}::-ms-clear